{% extends 'base.html'%}

{% block nav_sites%}class="active"{% endblock %}

{% block main_contents%}

    <div class="container">
        <h1>Site Details - {{ site.name }}</h1>
        <table class="table">
            <thead>
            <td>
                <strong>Date</strong>
            </td>
            <td>
                <strong>A Value</strong>
            </td>
            <td>
                <strong>B Value</strong>
            </td>
            </thead>
            <tbody>
            {% for detail in details %}
                <tr>
                    <td>{{ detail.date }}</td>
                    <td>{{ detail.A_value|floatformat:'2' }}</td>
                    <td>{{ detail.B_value|floatformat:'2' }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock%}