{% extends 'base.html'%}

{% block nav_summary%}class="active"{% endblock %}

{% block main_contents%}
    <div class="container">
        <h1>Summary</h1>
        <a href="{% url 'sites:summary' %}">
            <button type="button" class="btn btn-primary">Sum</button>
        </a>
        <a href="{% url 'sites:summary_average' %}">
            <button type="button" class="btn btn-primary active">Average</button>
        </a>

        <table class="table">
            <thead>
            <td>
                <strong>Site</strong>
            </td>
            <td>
                <strong>A Value</strong>
            </td>
            <td>
                <strong>B Value</strong>
            </td>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.name }}</td>
                    <td>{{ site.A_value|floatformat:'2' }}</td>
                    <td>{{ site.B_value|floatformat:'2' }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock%}